@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth   

body
    font-family: 'Lato', sans-serif

li
    list-style: none

a
    text-decoration: none

img
    max-width: 100%
    display: block

.container
    max-width: 1150px
    width: 100%
    padding: 0 10px
    margin: 0 auto

.container-fluid
    max-width: 1650px
    width: 100%
    // padding: 0 10px
    margin: 0 auto

.header
    background-image: url("../img/hero.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 100vh
    &__inner
        display: flex
        justify-content: center
        align-items: center
        padding-top: 35px
    .logo
        padding: 0 65px
    .menu
        display: flex
        justify-content: space-between
        &__link
            color: #4d4959
            font-family: Lato
            font-size: 16px
            font-weight: 700
            text-transform: uppercase
            letter-spacing: 2.6px
        &__link:hover
            color: #64c29e
            border-bottom: 1px solid #64c29e
    .burger-menu
        display: none
        position: relative
        width: 30px
        height: 20px
        cursor: pointer
        span
            position: absolute
            width: 100%
            height: 2px
            background-color: black
            top: 9px
        span:before,
        span:after
            content: ""
            position: absolute
            width: 100%
            height: 2px
            background-color: black
        span:before
            top: -9px
        span:after
            bottom: -9px

    li:first-child
        margin-right: 70px

.new
    overflow: hidden
    background-color: #f7f7f7
    &__inner
        padding: 117px 0 142px 0
        display: flex
        flex-direction: column
        align-items: center
    .icon
        margin-bottom: 35px
    .title
        margin-bottom: 35px
        color: #353738
        font-family: Lato
        font-size: 18px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        letter-spacing: 3.6px
    .text
        color: #848789
        font-family: Lato
        font-size: 18px
        font-weight: 400
        line-height: 34px
        text-align: center

.bicycle-company
    overflow: hidden
    .grid-container
        grid-template-areas: "b1 b1 b2" "b1 b1 b3"
        .b1
            background-image: url("../img/bicycle company/bicycle_company.jpg")

        .b3
            background-image: url("../img/bicycle company/Bicycle_saddle.jpg")

.vintage
    overflow: hidden
    .grid-container
        grid-template-areas: "b2 b1 b1" "b3 b1 b1"
        .b1
            background-image: url("../img/vintage/Vintage_bicycle.jpg")

        .b3
            background-image: url("../img/vintage/Bicycle_saddle.jpg")

.retro-bike
    overflow: hidden
    .grid-container
        grid-template-areas: "b1 b2 b3" "b1 b4 b3"
        .b1
            background-image: url("../img/retro bike/Retro_frame.jpg")

        .b3
            background-image: url("../img/retro bike/Retro_bicycle.jpg")
        .b4
            background-image: url("../img/retro bike/Retro_wheel.jpg")

.grid-bike
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 0.5fr
    gap: 0px 0px
    grid-template-areas: "b1 b2 b3" "b1 b4 b3"
    .b1
        grid-area: b1
        height: 600px
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        display: flex
        justify-content: center
        align-items: center
    .b2
        grid-area: b2
        display: flex
        flex-direction: column
        align-items: center
        .icon
            padding-top: 50px
            margin-bottom: 15px
        .title
            color: #353738
            font-family: Lato
            font-size: 18px
            font-weight: 700
            text-align: center
            text-transform: uppercase
            margin-bottom: 26px
            letter-spacing: 3.6px
        .text
            color: #848789
            font-family: Lato
            font-size: 16px
            font-weight: 400
            line-height: 30px
            text-align: justify
            padding: 0 68px
    .b3
        grid-area: b3
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    .b4
        grid-area: b4
        background-size: cover
        background-position: center
        background-repeat: no-repeat

.bicycle-slider
    background-color: #f7f7f7
    .my-slider
        padding: 124px 0px 68px 0px
        &__item
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .wrap
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
            .icon
                margin-bottom: 30px
                .fa-twitter
                    color: #56c7ee
                    font-size: 24px
            .title
                margin-bottom: 27px
                .adress
                    color: #353738
                    font-family: Lato
                    font-size: 18px
                    font-weight: 700
                    text-align: center
                    margin-right: 5px
                .time
                    color: #848789
                    font-size: 18px
                    font-family: Lato
                    font-weight: 300
                    font-style: normal
                    letter-spacing: 1.8px
                    line-height: normal
            .text
                color: #848789
                font-family: Lato
                font-size: 24px
                font-style: italic
                letter-spacing: normal
                line-height: 34px
                text-align: center
                margin-bottom: 104px
        .slick-dots
            text-align: center
            display: flex
            justify-content: center
            list-style: none
            button
                text-indent: -9999px
                border: 1px solid #c8c8c8
                border-radius: 50%
                width: 11px
                height: 11px
                outline: none
                margin: 9px
            li[class="slick-active"] button
                background-color: #a9afb3

.shop
    overflow: hidden
    &__grid-container
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr 0.7fr
        gap: 0px 0px
        grid-template-areas: "b1 b2 b4 b5 b6 b6" "b3 b3 b4 b5 b7 b8" "b9 b9 b9 b9 b9 b9"
        .box
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            cursor: pointer
            .inner
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                background: rgba(100, 194, 158, 0.7)
                opacity: 0
                transition: all 0.5s
                .title
                    color: #ffffff
                    font-family: Lato
                    font-size: 14px
                    font-weight: 700
                    text-align: center
                    letter-spacing: 2.8px
                    text-transform: uppercase
                    transition: all 0.5s
                    transform: translateY(20px)
                .lil-logo
                    transition: all 0.5s
                    margin-bottom: 10px
                    transform: translateY(-20px)
            .inner:hover
                opacity: 1
            .inner:hover .title 
                transform: translateY(0px)
            .inner:hover .lil-logo
                transform: translateY(0px)

        .box1
            height: 267px
            grid-area: b1
            background-image: url("../img/bike shop/shop_box1.jpg")
        .box2
            grid-area: b2
            background-image: url("../img/bike shop/shop_box2.jpg")
        .box3
            grid-area: b3
            background-image: url("../img/bike shop/shop_box3.jpg")
        .box4
            grid-area: b4
            background-image: url("../img/bike shop/shop_box4.jpg")
        .box5
            grid-area: b5
            background-image: url("../img/bike shop/shop_box5.jpg")
        .box6
            grid-area: b6
            background-image: url("../img/bike shop/shop_box6.jpg")
        .box7
            grid-area: b7
            background-image: url("../img/bike shop/shop_box7.jpg")
        .box8
            grid-area: b8
            background-image: url("../img/bike shop/shop_box8.jpg")

        .box9
            grid-area: b9
            height: 200px
            background-color: #282f35
            display: flex
            justify-content: center
            align-items: center
            button
                color: #ffffff
                font-family: Lato
                font-size: 14px
                font-weight: 700
                text-align: center
                text-transform: uppercase
                letter-spacing: 2.8px
                padding: 20px 55px
                background-color: transparent
                cursor: pointer
                border: 1px solid #5e6368
            button:hover
                color: #64c29e
                border: 1px solid #64c29e

.stay-on
    &__inner
        padding: 109px 0 111px 0
        display: flex
        flex-direction: column
        align-items: center
    .logo
        margin-bottom: 39px
    .title
        color: #848789
        font-family: Lato
        font-size: 24px
        font-style: italic
        line-height: 34px
        text-align: center
        margin-bottom: 35px
    .form
        display: flex
        flex-wrap: wrap
        justify-content: center
        input
            width: 400px
            height: 69px
            border: 1px solid #d3d7d9
            background-color: #ffffff
            margin-right: 8px
            font-family: Lato
            font-size: 20px
            padding: 28px 28px 24px 20px
        input::placeholder
            color: #929292
            font-family: Lato
            font-size: 20px
            font-style: italic
            line-height: 24px
            padding: 28px 28px 24px 0px
        button
            width: 126px
            height: 69px
            background-color: #64c29e
            border: none
            color: #ffffff
            font-family: Lato
            font-size: 26px
            font-weight: 300
            line-height: 24px
            text-align: center
            text-transform: uppercase
            cursor: pointer
        button:hover
            background-color: #ffffff
            color: #64c29e
            border: 2px solid #64c29e
            font-size: 28px
            font-weight: 400

.footer
    background-color: #f7f7f7
    .grid-inner
        padding: 108px 0
        display: grid
        grid-template-columns: 0.5fr 1fr 0.5fr
        grid-template-rows: 1fr
        gap: 0px 0px
        grid-template-areas: "adress social crafted"

        .adress
            grid-area: adress
            .city
                color: #848789
                font-family: Lato
                font-size: 16px
                font-weight: 700
                line-height: 17.87px
            .street
                color: #848789
                font-family: Lato
                font-size: 14px
                font-style: italic
                line-height: 17.87px
            .mail
                color: #848789
                font-family: Lato
                font-size: 14px
                font-style: italic
                line-height: 17.87px

        .crafted
            grid-area: crafted
            display: flex
            justify-content: flex-end
            align-items: center
            .sign
                color: #848789
                font-family: Lato
                font-size: 14px
                font-style: italic
                line-height: 17.87px
                margin-right: 10px
        .social
            grid-area: social
            display: flex
            justify-content: center
            align-items: center
            &__item
                width: 35px
                height: 34px
                border-radius: 50%
                display: flex
                justify-content: center
                align-items: center
            &__item:hover
                transform: scale(1.2)
            .fab
                color: #ffff
            .twitter
                background-color: #78cdf0
            .facebook
                background-color: #537bbd
                margin: 0 15px
            .pinterest
                background-color: #eb5755

@media (max-width: 1260px)

    .grid-bike
        .b2
            .icon
                padding-top: 50px
                margin-bottom: 10px
            .title
                margin-bottom: 15px
            .text
                padding: 0 30px
                text-align: center

@media (max-width: 1201px)

    .new
        &__inner
            padding: 50px 0
            .icon
                margin-bottom: 20px
            .title
                margin-bottom: 20px
    .bicycle-slider .my-slider
        padding: 50px 0px
        .text
            margin-bottom: 25px
    .shop
        &__grid-container

    .stay-on
        &__inner
            padding: 50px 0px

    .footer
        .grid-inner
            padding: 50px 0px

@media (max-width: 1025px)

    .bicycle-slider .my-slider
        padding: 15px
        &__item
            .wrap
                .icon
                    margin-bottom: 20px
                .title
                    margin-bottom: 20px
                .text
                    margin-bottom: 20px
                    font-size: 20px
    .new
        &__inner
            padding: 15px 0
            .icon
                margin-bottom: 10px
            .title
                margin-bottom: 20px
                font-size: 16px
            .text
                font-size: 16px
                font-weight: 400

    .shop
        &__grid-container
            grid-template-columns: 1fr 1fr 1fr 1fr 
            grid-template-rows: 1fr 1fr 0.5fr
            grid-template-areas: "b1 b2 b3 b4" "b5 b6 b7 b8" "b9 b9 b9 b9"
            .box9
                height: 150px
    .stay-on
        &__inner
            padding: 20px 0

@media (max-width: 866px)
    .bicycle-slider .my-slider
        padding: 10px
        &__item
            .wrap
                .icon
                    margin-bottom: 10px
                .title
                    margin-bottom: 10px
                .text
                    margin-bottom: 10px
                    font-size: 18px


    .bicycle-company
        .grid-bike
            grid-template-rows: 1fr 0.4fr 0.5fr
            grid-template-areas: "b1 b1 b1" "b2 b2 b2" "b3 b3 b3"
            .b1
                height: 300px
            .b2
                .icon 
                    padding-top: 10px
                .title
                    margin: 0
                .text
                    padding: 10px
    .vintage
        .grid-bike
            grid-template-rows: 1fr 0.4fr 0.5fr
            grid-template-areas: "b1 b1 b1" "b2 b2 b2" "b3 b3 b3"
            .b1
                height: 300px
            .b2
                .icon 
                    padding-top: 10px
                .title
                    margin: 0
                .text
                    padding: 10px
    .retro-bike
        .grid-bike
            grid-template-rows: 1fr 0.4fr 0.4fr 0.4fr
            grid-template-areas: "b1 b1 b1" "b2 b2 b2" "b3 b3 b3" "b4 b4 b4"
            .b1
                height: 300px
            .b2
                .icon 
                    padding-top: 10px
                .title
                    margin: 0
                .text
                    padding: 10px

@media (max-width: 720px)
    .header
        &__inner
            justify-content: space-between
            flex-wrap: wrap
            .logo
                order: -1
                padding: 0
            nav
                width: 100%
                background: rgba(100, 194, 158, 0.7)
                transform: translateY(-450px)
                transition: all 0.5s
                // transform: translateY(50px)
                .menu
                    display: block
                    text-align: center
                    &__item
                        width: 100%
                        padding: 20px 0
                        margin: 0
                    &__link:hover
                        color: #ffff
                        border-bottom: 1px solid #ffff            

        .burger-menu
            order: -1
            display: block
        
        .open
            transform: translateY(50px)


    .footer
        .grid-inner
            grid-template-columns: 1fr 
            grid-template-rows: 1fr 1fr 1fr   
            grid-template-areas: "adress" "social" "crafted"
        .grid-inner 
            display: flex
            flex-direction: column
            align-items: center
            padding: 20px 0
            .adress
                display: flex
                flex-direction: column
                align-items: center
                margin-bottom: 15px
            .social
                margin-bottom: 15px

@media (max-width: 600px)

    .shop
        &__grid-container
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr
            grid-template-areas: "b1 b2" "b3 b4" "b5 b6" "b7 b8" "b9 b9"
            .box9
                height: 150px

    .container-fluid
        .grid-bike
            .b2
                .title
                    font-size: 14px

    .stay-on
        &__inner
            .logo
                margin-bottom: 10px
            .title
                margin-bottom: 10px
            .form
                input
                    margin-bottom: 10px
                    width: 65%
                    height: 30px
                button
                    height: 54px

@media (max-width: 440px)

    .shop
        &__grid-container
            .box9
                button
                    font-size: 12px
                    font-weight: 300
                    letter-spacing: 2px
                    padding: 20px 50px                  

    .stay-on
        &__inner
            .form
                input
                    width: 60%
                input::placeholder
                    font-size: 18px
                    line-height: 22px
                    padding: 28px 28px 24px 0px
                button
                    width: 126px
                    font-size: 22px
                    font-weight: 300
                    line-height: 22px

@media (max-width: 370px)
    .stay-on
        &__inner
            .form
                input
                    width: 200px